<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">介绍</h2>
                    <h3 class="section-subheading text-muted">莫诺苯宗家族产品逆向脱色治疗，过程和疗效展示</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>脱色前</h4>
                                    <h4 class="subheading">方法及适合人群</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">脱色是白白逆向治疗方法。脱色适合面积大于身体50%和放弃治疗的白白们。取少量莫诺本宗脱色膏，用手指均匀的涂在要脱色的皮肤上，早晚各一次。涂抹后包保鲜膜，晚上包一宿，白天根据自己情况而定。白白和正常皮肤没有色差即为脱净，脱净后巩固1-2个月，巩固期每天2次，可以不包膜。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>脱色中</h4>
                                    <h4 class="subheading">异脱色反应和注意事项</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">脱色过程中不同肤质会有不同程度的【脱皮、红肿、痒痒、变黑、变黄】的情况。这是正常现象，也有个别无过敏反应的群体，时间到了皮肤也会慢慢变白。脱色中，抹药后不要被太阳直射。</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>脱色后</h4>
                                    <h4 class="subheading">疗程</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">一般使用脸部1-4个月见效，四肢4-6个见效。具体时间因人而异。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4 style="padding-top: 10px;">
                                    防晒<br/>呵护
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>