<section id="contact">
        <div class="weixin">
            <img width="100" src="img/qrcode.png" >
            <p>添加微信</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">联系我们</h2>
                    <h3 class="section-subheading text-muted">咨询服务时间上午 9:30 - 11:30，下午 1:00 - 9:30 </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <input type="text" class="form-control" placeholder="请输入您的昵称" id="name" required data-validation-required-message="请输入您的昵称">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="email" class="form-control" placeholder="请输入您的邮箱地址" id="email" required data-validation-required-message="请输入您的邮箱地址">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="control-group form-group">
                                    <input type="tel" class="form-control" placeholder="请输入您的联系电话" id="phone" required data-validation-required-message="请输入您的联系电话">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="control-group form-group">
                                    <textarea class="form-control" placeholder="咨询和购买的产品" id="message" required data-validation-required-message="响要咨询和购买的产品"></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">发送信息</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
