<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">服务</h2>
                    <h3 class="section-subheading text-muted">你的满意，我的追求，客户至上，用心服务。</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">进口品质保证</h4>
                    <p class="text-muted">产品检验按标准，产品质量有保证。我们的承诺：不做不良品。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">第三方担保支付</h4>
                    <p class="text-muted">莫诺苯宗中国站，淘宝4年老店，安心加购，信用保障。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">贴心售后</h4>
                    <p class="text-muted">专业指导用药，专享售后社群，贴心一对一服务。</p>
                </div>
            </div>
        </div>
    </section>